target
*.o
Makefile
.deps
.dirstamp

src/gnu/CCache/autom4te.cache/
src/gnu/CCache/ccache-swig
src/gnu/CCache/ccache_swig_config.h
src/gnu/CCache/config.h
src/gnu/CCache/config.log
src/gnu/CCache/config.status
src/gnu/Lib/ocaml/swigp4.ml
src/gnu/Source/Include/stamp-h1
src/gnu/Source/Include/swigconfig.h
src/gnu/Source/eswig
src/gnu/autom4te.cache/
src/gnu/config.log
src/gnu/config.status
src/gnu/preinst-swig
src/gnu/swig
src/gnu/swig.spec

